{% extends 'app/base.html' %}
{% load static %}
{% block content %}

    <img src="{% static 'app\img\about.jpg' %}" class = "about">
    

    <p>We are proud that Neste lubricants for the challenging and changing Nordic conditions are developed in Finland. Lubricants successfully 
    tested in Finland will work everywhere. Wherever you are.</p>

    <p>But deeds speak louder than words. We offer the latest technological developments, which are the result of decades of research. 
    Our state-of-the-art premium lubricants are based on our own unique NEXBASE™ technology, which was developed in Finland. 
    NEXBASE™ base oils, combined with additives from the world's best manufacturers, make our high-quality lubricants world-class winners. 
    They guarantee the highest reliability and exceptional performance of engines, machines and other equipment.</p> 

{% endblock %}