{% load static %}

<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="{% static 'app/style/style.css' %}">
    </head>
    <body>
        <div id="header">
            <a href = {% url 'home' %}>
            <img src="{% static 'app/img/logo.png' %}" class = "logo">
            </a>
            <p id = "inf">
                LLC "PumPum" - the official distributor 
                of companies NESTE in BELARUS
            </p>
            <p id = "tel">+375 (29) 123-45-67 - retail<br>
               +375 (29) 765-43-21 - wholesale
            </p>
            <div>
                <a href={% url 'contact_page' %}>Callback request</a>
            </div>    
        </div>

        <div id="menu">
            <ul id=top_menu>
                <li><a href = {% url 'home' %}>MAIN</a></li>
                <li><a href={% url 'about' %}>ABOUT</a></li>
                <li><a href={% url 'oils' %}>CATALOG</a>
                    <ul class="inner_menu">
                        <li><a href={% url 'motor' %}>MOTOR</a></li>
                        <li><a href={% url 'transmission' %}>TRANSMISSION</a></li>
                        <li><a href={% url 'hydraulic' %}>HYDRAULIC</a></li>
                        <li><a href={% url 'grease' %}>GREASE</a></li>
                    </ul>
                </li>
                <li><a href={% url 'posts' %}>PROMOTION</a></li>
                <li><a href={% url 'contacts' %}>CONTACTS</a></li>
            </ul>
        </div>

        <div id = "content">
            {% block content %}
            {% endblock  %}
        </div> 

        <div id="footer">
            <p>All rights reserved</p>
        </div>

    </body>
</html>