{% extends 'base.html' %}

{% block content %}
    <div class="main">
        <p class="center"><i>My account</i></p>
        <hr><br>
        <section>
            <div class="recipe1body">
                <div class="account_image">
                    {% if recipe.image %}
                        <img src="{{ author.image.url }}">
                    {% endif %}
                </div>
                <div class="account_content">
                    <h3>Information</h3>
                    <h4>{{ author.name }}</h4>
                    <h4>{{ author.email }}</h4>
                    <h4>{{ author.location }}</h4>
                </div>
                <div class="account_content">
                    <h3>Prohibited Foodstuffs</h3>
                    {% for p in prohibitedFoodstuffs %}
                        <p>{{ p.name }}, {{ p.reason }}</p>
                    {% endfor %}
                </div>
            </div>
        </section>
        <hr><br>
        <div class="item">
            <a href="{% url 'add-recipe' %}"><button class="btn"><b>Add Recipe</b></button></a>
            <a href="{% url 'add-edit-prohibited-foodstuffs' %}"><button class="btn"><b>Add/Edit Prohibited Foodstuffs</b></button></a>
        </div>
    </div>
{% endblock %}