{% extends 'base.html' %}

{% block content %}
    <div class="main2">
        <p class="center"><i>Add / Edit Ingredients</i></p>
        <hr><br>
        <form class="form-inline" method="POST">
            {% csrf_token %}
            {{ formset.management_form }}
            {% for form in formset %}
                <div>{{ form }}<hr></div>
            {% endfor %}
            <button><b>Submit</b></button>
            <a class="btn_cancel2" href="{% url 'recipes' %}"><b>Cancel</b></a>
        </form>
    </div>
{% endblock %}