{% extends 'base.html' %}

{% load static %}

{% block content %}
    <div class="main">
        <p class="center"><i>Delete "{{ recipe }}" recipe</i></p>
        <hr><br>
        <p class="center2">Are you sure you want to delete "{{ recipe }}" recipe</p>
        <div class="main3">
            <form class="item" method="POST">
            {% csrf_token %}
                <a class="btn_cancel1" href="{% url 'recipes' %}"><b>Cancel</b></a>
                <button class="btn2"><b>Confirm</b></button>
            </form>
        </div>
    </div>
{% endblock %}