{% extends 'base.html' %}

{% block content %}
    {% if searched %}
        <div class="main">
            <p class="center"><i>Search result:</i></p>
            <hr>
            <br/>
            <div class="center2">
                {% for recipe in recipes %}
                    <a href="{% url 'recipe' recipe.id%}">{{ recipe }}</a><br/>
                {% endfor %}
            </div>
        </div>
    {% else %}
        <div class="main">
            <p class="center2">You forgot to enter something to search..</p>
        </div>
    {% endif %}
{% endblock %}